{{!< default}}
<header class="wrap">
  <h1 class="page-title">Blog Archive</h1>
  {{!-- {#get "posts" limit="all" include="author,tags" filter="tag:learning, tag:books, tag:writing" as |posts pages|}} --}}
  {{#get "posts" limit="all" include="author,tags" as |posts pages|}}
    <p class="text-center">A collection of <strong>{{pages.total}}</strong> posts on web development, design and books.</p>
  {{/get}}
</header>

{{!-- 
<div class="img-wrap">
  <img src="http://i.imgur.com/FMdmcWl.jpg" />
<div>
--}}

<section class="wrap post-list">
  {{#post}}
    {{content}}
  {{/post}}

  {{!-- {{#get "posts" limit="all" include="author,tags" filter="tag:learning, tag:books, tag:writing" as |posts pages|}} --}}

  {{#get "posts" limit="all" include="author,tags" as |posts pages|}}

    <!-- <hr class="fancy-div" /> -->
    <hr class="fancy-div" />

    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="list-content">
          <header class="cover post post-head">
            <h1 class="post-title headline"><a class="post-title-link" href="{{url}}">{{{title}}}</a></h1>
    				<p class="blog-blocks">Posted on <time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time> {{#if tags}}in {{tags separator=", "}}{{/if}}</span>
          </header>
          <section class="post-excerpt">
            <div class="cover post post-body">
              <p>{{excerpt words="30"}}<a class="read-more" href="{{url}}">...</a></p>
            </div>
          </section>
        </section>
        <hr class="post-hr" />
      </article>
    {{/foreach}}

  {{/get}}

</section>
